
    .underline{
        text-decoration: underline;
    }
    
    .container {
      max-width: 800px;
      margin: 60px auto;
      color: rgb(0, 0, 0);
      border-radius: 16px;
      padding: 40px;
      box-shadow: 0 10px 30px rgba(0,0,0,0.1);
      text-align: center;
      background: #ffff;
    }

    .profile-img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      border: 5px solid #0ae031;
      margin-bottom: 20px;
    }

    .bio {
      margin: 20px 0;
      font-size: 16px;
      line-height: 1.6;
    }

    .info {
      text-align: left;
      margin-top: 30px;
      border: 3px solid silver;
      padding: 1em;
      border-radius:16px;
    }

    .garis-bawah {
            border: none;
            height: 2px; /* Ketebalan garis */
            background-color: #000; /* Warna garis */
            margin-top: 20px; /* Jarak atas */
            margin-bottom: 20px; /* Jarak bawah */}
    .s{
      display: flex;
      height:30vh;
      align-items: center;
      gap: 40px; /* Jarak antar elemen di dalam container */
      
    }